@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;

}

*{
    margin: 0;
    padding: 0; 
    
}

html, body{
    min-height: 100vh;
    background-color: darkgray;

    font-family: var(--font1);

}

main{
    background-color: aliceblue;
    max-width: 1000px;
    margin: auto;

}

main p{
    font-size: clamp(1.5rem, 3vw, 2rem);

}

header{
    background-color: black;
    color: white;
    text-align: center;

}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;

    font-family: var(--font2);

    font-size: clamp(3rem, 8vw, 4.5rem);
    letter-spacing: 1px;
  
}

header > p{
    padding-bottom: 50px;
    font-size: clamp(1rem, 2.5vw, 1.5rem);

}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

a:hover{
    text-decoration: underline;
    text-decoration-color: white; /*Muda a cor do underline*/
    text-decoration-thickness: 2px; /*Muda o tamanho vertical*/
    text-underline-offset: 4px; /* Altera a distancia */
    color: yellow;

}

section{
    padding:10vh 20px 10vh 20px ;
    line-height: auto;

    font-family: var(--font3);

}

.normal{
    background-color: white;
    color: black;

}

.normal p{
    padding-left: 50px;

}

#girassol{
    background-image: url("imagens/background001.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgba(51, 51, 51);
    color: white;

}

#girassol > p{  /* Controla o quadradado que está as palavras*/
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.515);
    padding: 10px 50px 10px 50px;
    background-color: rgba(231, 231, 231, 0.233);

    border-radius: 20px;
    max-width: 500px;
    
}

.imagem{
    border-radius: 10px;
    background-image: url("imagens/background002.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgba(51, 51, 51);
    color: white;

}

.imagem > p{ /* Controla o quadradado que está as palavras*/
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.515);
    padding: 10px 50px 10px 50px;
    background-color: rgba(0, 0, 0, 0.233);
    max-width: 500px;

    border-radius: 20px;
    
}


footer{
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
    
}

footer p:first-of-type{
    margin: 10px 0 0 0;

}

footer p:nth-of-type(2){
    margin: 0 0 10px 0;

}